h1{
text-align: center;
}

body{

}

.card{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #d8d8d9;
  padding: 20px 20px 20px 20px;
}

.randomword{
  text-align: center;
}
